html,
body, #root, .App {
    height: 100%;
}

.main-for-login{
    height: 100% ;
    background: #6C757D !important;
}

.header-for-login{
    display: none;
}

.footer-for-login{
    display: none;
}
