.loginPageConverter .btn {
    padding: 6px 43.2px;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    box-shadow: none !important;
}

.loginPageConverter .btn:hover{
    border-bottom: 2px solid #0DCAF0 !important;
    color: #fff;
}

.loginSignInBtn{
    border-radius: 3px 0 0 0 !important;
}

.loginSignUpBtn{
    border-radius: 0 3px 0 0 !important;
}

.loginActiveBtn{
    border-bottom: 2px solid #0DCAF0 !important;
}


.inputPassword{
    border-radius: 3px 0 0 3px !important;
}

.passwordToggleBtn{
    border-radius: 0 3px 3px 0 !important;
    border: 1px solid #CED4DA;
    border-left: none;
}