main {
    min-height: 75vh;
}

.text-color {
    color: rgb(42, 44, 46);
}

.header-color {
    color: rgb(80, 80, 80)
}

.svg-inline--fa.fa-w-18 {
    width: 13px !important;
}

a{
    text-decoration: none;
}


.responsive-nav-items{
    display: none !important;
}